#canvas {
	border: 2px solid black;
	width: 600px;
	height: 400px;
	margin-left: 65px;
	margin-top: 25px;
}

#hour-labels {
	text-align: right; 
	margin-top: 35px; 
	margin-right: -45px;
}

#hour-labels p {
	padding-top: 24px;
}

table, th, td {
	border: 1px solid black;
	width: 350px;
	height: 50px;
	text-align: center;
}